body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #064E3B;
    width: 475px;
    height: 285px;
    border: 8px solid #34D399;
    border-radius: 20px;
}
.score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#score-home , #score-guest{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-size: 80px;
    font-family: Cursed Timer ULiL;
    margin: 0px 10px 15px 10px;   
    background-color: #34D399;
    text-align: center;
    border-radius: 5px;
    
}

.buttonStyle{
    background-color: #A7F3D0;
    color: #111827;
    border: 2px,solid,#111827;
    border-radius: 5px;
}